.navbars 
    nav.navbar.navbar-expand-lg
        .container
            a.navbar-brand(href='/') olx
            form.d-flex.formFor
                input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-grad.p-1(type='submit') Qidiruv
            .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav
                li.nav-item
                a.nav-link(href='/add').i.fas.fa-cart-arrow-down  Add product
                a.nav-link(href='/register').i.fas.fa-user-alt  Registration
                a.nav-link(href='/register/login').i.fas.fa-id-card   LogIn 
                a.nav-link(href="register/logout").i.fas.fa-sign-out-alt  LogOut

