@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

.navbars {
  background: #002f34 !important;
}

.navbars .navbar-brand {
  color: #24e5db;
  font-size: 30px;
  font-weight: 900;
}

.navbar {
  justify-content: space-between !important;
}

.collapse {
  flex-grow: unset !important;
}

.formFor {
  width: 30%;
}

img {
  width: 100%;
  max-width: 100%;
  height: 200px !important;
}

.card {
  width: 100%;
  height: 425px;
  padding: 10px;
  background-color: transparent!important;
  color: #fff;
  box-shadow: inset 2px 2px 20px white;
}
.cards {
  width: 100%;
  min-height: auto;
  padding: 10px;
  background-color: transparent!important;
  color: #fff;
  box-shadow: inset 2px 2px 20px white;
  text-align: center;
  font-family: 'Josefin Sans';
}

 
.card .card-img {
  width: 100%;
  height: 220px;
  background: #000;
}

.card .card-text h3 , .cards h3{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px 0px;
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 900;
  text-align: center !important;
  font-family: 'Josefin Sans';
  border-bottom: 3px solid #fff000;
  border-radius: 20px;
}

.cards .price , .cards .sale {
  font-size: 30px;
  font-family: monospace;
  color: red;

}
.cards .btn{
  display: block;
  width: 85%;  
  margin: 10px auto;
  padding: 15px 0;
  border-radius: 10px;

}
.cards .date , .cards .category{
  text-transform: capitalize;
  font-size: 20px;
  color: chartreuse

}
.card .card-text .price_box, .card_bottom {
  display: flex;
  justify-content: space-around;
}

.card img {
  width: 100%;
  height: 100% !important;
}

.saleing {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.navbar-nav a:hover {
  padding-bottom: 2px;
  box-sizing: border-box!important;
  color: #fff000 !important;
  border-bottom: 2px solid #fff000;
}

.add {
  min-height: 720px;
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Josefin Sans';
  color: #fff;
  font-weight: 900;
  font-size: 48px;
  text-transform: capitalize;
}

.form-label, option {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
  color: #d7dde8;
}

.form-control {
  border-radius: 30px;
}

.btn-grad {
  background-image: linear-gradient(to right, #DC2424 0%, #4A569D 51%, #DC2424 100%)
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  padding: 12px 20px;
  font-family: monospace;
  margin: auto;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.register {
  padding: 20px;
  border-radius: 25px;
}

.register {
  padding: 20px 30px !important;
  background-color: rgba(14, 11, 40, 0.2);
  box-shadow: 1px 1px 10px #fff;
}

.register2 {
  border-radius: 35px;
  padding: 15px 35px;
}

.bars {
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
}

h2 {
  font-size: 78px;
  font-family: 'Josefin Sans';
  filter: blur(2px);
}

.fa-folder-open {
  color: yellow;
  font-size: 105px;
  filter: blur(2px);
}

.messages {
  background-color: #bfc1ce;
  text-align: center;
  background-color: transparent!important;
}

.alert-error, .alert-success, .alert-danger {
  text-align: center;
  font-size: 18px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  margin: 0;
  color: #000;
  text-transform: capitalize;
}